<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/style-pizarra.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredoka+One&family=Lato:ital,wght@1,100&family=Lobster&family=Permanent+Marker&display=swap" rel="stylesheet">
    <title>Mosconi ocio</title>
</head>
<body>
    
<div class="baner"> <span class="text-baner">Mosconi Ocio!!!</span></div>