<div class="nav-bar">
    <a class="item" href="/cartelera">Cartelera</a>
    <a class="item" href="/carteleraG">Grupos</a>
    <a class="item" href="/registroU">Usuarios</a>
    <a class="item" href="/noticias">Noticias</a>
    <a class="item" href="/login">Login</a>
    
</div>