<div class="nav-bar">
    <a class="item" href="/cartelera">Cartelera</a>
    <a class="item" href="/registroG">Grupos</a>
    <a class="item" href="/registroU">Usuarios</a>
    <a class="item" href="">Contactanos</a>

</div>