.pizarra{
    background-color: green;
    height: 800px;
    border: saddlebrown 20px solid;
    border-radius: 3%;
    position: relative;
    top: 25px;
    padding: 40px;
    overflow-y:scroll ;
       
    
}

.cartelera{
    text-align: center;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.nota {
    background-color: white;
    height: 200px;
    width: 200px;
    border-radius: 15px;
    margin: 10px;
    position: relative;
    float: left;
    overflow: hidden;
    
}

.nota.grande{
    position: absolute;
    
    left: 300px;
    height: 500px;
    width: 500px;
    font-size: 20px;
    padding: 20px;
    border:  10px solid;
    box-shadow: 2px 2px 5px black;
    z-index: 3;

}


.nota.grupoGrande{
    position: absolute;
    
    left: 300px;
    height: 500px;
    width: 500px;
    font-size: 20px;
    padding: 20px;
    border:  10px solid;
    box-shadow: 2px 2px 5px black;
    z-index: 3;

}

.nota.grupoGrande #chinche{
    transform: translate(170px,0px) 
    
}

.grupoGrande h2{
    font-size: 40px;
}

#chinche{
    color: red;
    font-size: 100px;
    position: relative;
    top: -160px;
    left: 80px;
    float: left;
}

.nota.grande #chinche{
    transform: translate(170px,0px) 
    
}


