<%- include ("partials/cabezera") %>
<%- include ("partials/nav-bar") %>


<div class="pizarra"><h1 class="cartelera">Cartelera</h1>
    
    <div class="nota">
        <h3 class="chinche">.</h3>
        <h1>hola</h1>

    </div> 
    <div class="nota">
        <h1>hola</h1>
        <h3 class="chinche">.</h3>
    </div>

    <div class="nota">
        <h3 class="chinche">.</h3>
        <h1>hola</h1>

    </div> 
    <div class="nota">
        <h1>hola</h1>
        <h3 class="chinche">.</h3>
    </div>
    <div class="nota">
        <h3 class="chinche">.</h3>
        <h1>hola</h1>

    </div> 
    <div class="nota">
        <h1>hola</h1>
        <h3 class="chinche">.</h3>
    </div>
    
    
    
</div>