
    <%- include ("partials/cabezera") %>
    <%- include ("partials/nav-bar") %>
    <h1>Esta es la cartelera en ella iran los eventos posteados por los usuarios</h1>
        <section>Esta pagina esta creada con el objetivo de que cada grupo tenga un 
            espacio y pueda mostrar sus actividades para que el publico pueda ir a apoyarlos
            y obtener mas integrantes, es un apoyo para los grupos de mosconi
        </section>




<%- include ("partials/piedepagina") %>




