
<%- include ("partials/cabezera") %> 
<%- include ("partials/nav-bar") %> 
<h1>Para poder crear noticias en la cartelera y crear grupos es necesario logearte con tu usuario y contraseña</h1>
<form action="/login" method="post">
  
    
    
    <label for="">Usuario: </label><br>
     <input calss="input" type="text" style="padding: 5px;" name="username"><br>
    
     <label for="">Contraseña:</label><br>
      <input calss="input" type="password"  style="padding: 5px;" name="pass"><br>
    
     <input type="submit" class="boton"><br>
     <a href="/registroU">Registrate</a>
    
    
    </form>

   
