<%- include ("partials/cabezera") %> 
<%- include ("partials/nav-bar") %> 


<form action="">
  
<label>Nombre del grupo</label><br>
  <input calss="input" type="text" style="padding: 5px;" ><br>

<label for="">Encargado </label><br>
    <input calss="input" type="text" style="padding: 5px;"><br>

 <label for="">Lugar</label><br>
    <input calss="input" type="text"  style="padding: 5px;"><br>

 <label>Contacto</label><br>
    <input calss="input" type="text" style="padding: 5px;" ><br>

<label for="">Imagen </label><br>
    <input calss="input" type="text" style="padding: 5px;"><br>
    
<input type="submit" class="boton">
</form>
