<%- include ("partials/cabezera") %> 
<%- include ("partials/nav-bar") %> 

<h1>Te falta un o mas datos para poder loguearte continua con el enlace</h1>
<div id="boton" ><a href="/login" id="error" >Regresar al login</a></div>