<%- include ("partials/cabezera") %> 
<%- include ("partials/nav-bar") %> 


<form action="">
  
<label>Nombre:</label><br>
  <input calss="input" type="text" style="padding: 5px;" ><br>

<label for="">Usuario: </label><br>
 <input calss="input" type="text" style="padding: 5px;"><br>

 <label for="">Contraseña:</label><br>
  <input calss="input" type="text"  style="padding: 5px;"><br>

 <input type="submit" class="boton">


</form>
